In [1]:
%load_ext sql

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import os

## Loading Data

In [3]:
customers_df = pd.read_csv("data/olist_customers_dataset.csv")
sellers_df = pd.read_csv("data/olist_sellers_dataset.csv")
orderreviews_df = pd.read_csv("data/olist_order_reviews_dataset.csv")
orderitems_df = pd.read_csv("data/olist_order_items_dataset.csv")
products_df = pd.read_csv("data/olist_products_dataset.csv")
geolocations_df = pd.read_csv("data/olist_geolocation_dataset.csv")
categoryname_df = pd.read_csv("data/product_category_name_translation.csv")
orders_df = pd.read_csv("data/olist_orders_dataset.csv")
payments_df = pd.read_csv("data/olist_order_payments_dataset.csv")

In [4]:
df= pd.merge(orders_df, customers_df, on='customer_id', how='inner')
df= pd.merge(df, orderreviews_df, on='order_id', how='inner')
df= pd.merge(df, orderitems_df, on='order_id', how='inner')
df= pd.merge(df, payments_df, on='order_id', how='inner')
df= pd.merge(df, products_df, on='product_id', how='inner')
df= pd.merge(df, sellers_df, on='seller_id', how='inner')
df= pd.merge(df, categoryname_df, on='product_category_name', how='inner')
df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,...,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,...,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,...,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP,housewares
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,3a51803cc0d012c3b5dc8b7528cb05f7,3366,...,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP,housewares
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,ef0996a1a279c26e7ecbd737be23d235,2290,...,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP,housewares
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,30b0ea32347476f4b427daf62e09a5bb,9d9cfbce48737214f23bf294daf3c6f7,delivered,2017-08-12 19:20:39,2017-08-12 19:30:17,2017-08-14 18:26:28,2017-08-17 18:28:10,2017-09-05 00:00:00,6c861f46d09c560422f6ba6b33c017fe,9371,...,232.0,1.0,7600.0,55.0,15.0,55.0,89701,concordia,SC,la_cuisine
115605,1ce0acf125f1bcd636276dd213363196,d11524bb77c28efad04e4467eac8a660,delivered,2017-07-31 18:10:29,2017-07-31 18:25:20,2017-08-02 18:22:30,2017-08-09 20:38:07,2017-08-28 00:00:00,6968d41eb700f1ea39424e04b854bf7e,30130,...,429.0,1.0,2700.0,85.0,7.0,40.0,89701,concordia,SC,la_cuisine
115606,1ce0acf125f1bcd636276dd213363196,d11524bb77c28efad04e4467eac8a660,delivered,2017-07-31 18:10:29,2017-07-31 18:25:20,2017-08-02 18:22:30,2017-08-09 20:38:07,2017-08-28 00:00:00,6968d41eb700f1ea39424e04b854bf7e,30130,...,429.0,1.0,2700.0,85.0,7.0,40.0,89701,concordia,SC,la_cuisine
115607,c72888e51a36defb7b5d49201fcbccf7,c3cd86c3cbac654f8558a8286ba93c1c,delivered,2017-07-11 10:45:57,2017-07-11 10:55:14,2017-07-11 19:14:48,2017-07-19 17:27:43,2017-08-04 00:00:00,d8b80a0bd7560fab10e804f36d99fe33,90220,...,532.0,1.0,3600.0,30.0,30.0,30.0,13720,scao jose do rio pardo,SP,la_cuisine
115608,c72888e51a36defb7b5d49201fcbccf7,c3cd86c3cbac654f8558a8286ba93c1c,delivered,2017-07-11 10:45:57,2017-07-11 10:55:14,2017-07-11 19:14:48,2017-07-19 17:27:43,2017-08-04 00:00:00,d8b80a0bd7560fab10e804f36d99fe33,90220,...,532.0,1.0,3600.0,30.0,30.0,30.0,13720,scao jose do rio pardo,SP,la_cuisine

In [5]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'seller_zip_code_prefix', 'seller_city', 'seller_state',
       'product_category_name_english'],
      dtype='object')

## Connect to Database

In [6]:
%sql sqlite:///brazilianData.db

In [7]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///brazilianData.db")

In [8]:
df.to_sql('BRAZILIANORDERS', con=engine, if_exists='replace', index=False)

115609

## Queries and Analysis

## Revenue

### What is the total revenue?

In [9]:
%%sql
SELECT SUM(payment_value) AS TOTAL_REVENUE FROM BRAZILIANORDERS;

 * sqlite:///brazilianData.db
Done.

[(19929532.499998864,)]

### What is the total revenue of each year?

In [10]:
%%sql
SELECT CAST(SUBSTRING(order_purchase_timestamp, 0, 5) AS INT) AS ORDER_YEAR, SUM(payment_value) AS TOTAL_REVENUE 
FROM BRAZILIANORDERS 
GROUP BY ORDER_YEAR;

 * sqlite:///brazilianData.db
Done.

[(2016, 73142.95999999999),
 (2017, 8947145.909999454),
 (2018, 10909243.62999968)]

### Which month generated the highest revenue?

In [11]:
%%sql
SELECT MAX(TOTAL_REVENUE) AS MAX_REVENUE, ORDER_MONTH
FROM(
  SELECT CAST(SUBSTRING(order_purchase_timestamp, 6, 9) AS INT) AS ORDER_MONTH, SUM(payment_value) AS TOTAL_REVENUE 
  FROM BRAZILIANORDERS 
  GROUP BY ORDER_MONTH
) SUBQUERY

 * sqlite:///brazilianData.db
Done.

[(2200268.5499999905, 5)]

### What is the percentage of orders canceled after placing the payment?

In [12]:
%%sql
SELECT ROUND((CANCELED_ORDER * 100.0 / COUNT(order_status)), 2) AS "CANCELATION_RATE (%)"
FROM(
  SELECT COUNT(order_status) AS CANCELED_ORDER FROM BRAZILIANORDERS WHERE order_status = 'canceled'
) SUBQUERY, BRAZILIANORDERS

 * sqlite:///brazilianData.db
Done.

[(0.46,)]

### What is the total revenue from recurring customers?

In [13]:
%%sql
SELECT SUM(TOTAL_REVENUE)
FROM (
    SELECT customer_unique_id, COUNT(DISTINCT order_id) AS NUM_ORDERS, SUM(payment_value) AS TOTAL_REVENUE
    FROM BRAZILIANORDERS
    WHERE order_status <> 'canceled'
    GROUP BY customer_unique_id
    HAVING num_orders > 1
) SUBQUERY

 * sqlite:///brazilianData.db
Done.

[(1354706.5599999984,)]

## Orders

### What is the total number of orders?

In [14]:
%%sql
SELECT COUNT(DISTINCT order_id) AS NUM_ORDERS FROM BRAZILIANORDERS;

 * sqlite:///brazilianData.db
Done.

[(96516,)]

### What is the largest number of items purchased?

In [15]:
%%sql
SELECT MAX(NUM_ITEMS) AS MAX_NUM_ITEMS
FROM(
    SELECT MAX(order_item_id) AS NUM_ITEMS FROM BRAZILIANORDERS GROUP BY order_id
) SUBQUERY

 * sqlite:///brazilianData.db
Done.

[(21,)]

### How many products are typically ordered per month?

In [16]:
%%sql
SELECT CAST(SUBSTRING(order_purchase_timestamp, 6, 9) AS INT) AS ORDER_MONTH, COUNT(*) AS MONTHLY_PRODUCT_NUM 
FROM BRAZILIANORDERS 
GROUP BY ORDER_MONTH;

 * sqlite:///brazilianData.db
Done.

[(1, 9302),
 (2, 9816),
 (3, 11489),
 (4, 10883),
 (5, 12427),
 (6, 11059),
 (7, 12015),
 (8, 12479),
 (9, 5018),
 (10, 5868),
 (11, 8881),
 (12, 6372)]

### What times of the year have the highest and lowest order frequency?

In [17]:
%%sql
SELECT MIN(ORDERDS) AS MIN_FREQ, MAX(ORDERDS) AS MAX_FREQ
FROM(
    SELECT DATE(order_purchase_timestamp) AS ORDER_DATE, COUNT(DISTINCT order_id) AS ORDERDS 
    FROM BRAZILIANORDERS 
    GROUP BY ORDER_DATE
) SUQUERY

 * sqlite:///brazilianData.db
Done.

[(1, 1148)]

### What is the average number of orders per unique customer?

In [18]:
%%sql
SELECT AVG(NUM_ORDERS)
FROM (
    SELECT customer_unique_id, COUNT(DISTINCT order_id) AS NUM_ORDERS
    FROM BRAZILIANORDERS
    WHERE order_status <> 'canceled'
    GROUP BY customer_unique_id
) SUBQUERY

 * sqlite:///brazilianData.db
Done.

[(1.0332709637180892,)]

### What percentage of orders have been delivered on or before the estimated delivery date?

In [19]:
%%sql
SELECT ROUND((ONTIME * 100.0 / COUNT(DISTINCT order_id)), 2) AS DELIVERY_ONTIME_PERCENTAGE
FROM(
    SELECT COUNT(*) AS ONTIME 
    FROM BRAZILIANORDERS
    WHERE order_delivered_customer_date <= order_estimated_delivery_date
) SUBQUERY, BRAZILIANORDERS

 * sqlite:///brazilianData.db
Done.

[(108.27,)]

### What is the average price and shipping cost across all orders?

In [20]:
%%sql
SELECT AVG(price) AS AVG_PRICE, (freight_value) AS AVG_FREIGHT FROM BRAZILIANORDERS;

 * sqlite:///brazilianData.db
Done.

[(120.61984957930497, 8.72)]

### What is the percentage of orders where the estimated delivery date was exceeded by more than 1 day?

In [21]:
%%sql
SELECT ROUND(COUNT(
        CASE WHEN 
        julianday(order_delivered_customer_date) - julianday(order_estimated_delivery_date) > 1 
        THEN 1 END
    ) * 100.0 / COUNT(DISTINCT order_id), 2) || '%' AS EXCEEDED_DELIVERY_DATE_NUMS
FROM BrazilianOrders;

 * sqlite:///brazilianData.db
Done.

[('7.51%',)]

### What is the average, min, max houly time of the order approved time?

In [22]:
%%sql
SELECT AVG((strftime('%s', order_approved_at) - strftime('%s', order_purchase_timestamp))/3600.0) AS AVG_APPROVAL_TIME_HOURS,
    MIN((strftime('%s', order_approved_at) - strftime('%s', order_purchase_timestamp))/3600.0) AS MIN_APPROVAL_TIME_HOURS,
    MAX((strftime('%s', order_approved_at) - strftime('%s', order_purchase_timestamp))/3600.0) AS MAX_APPROVAL_TIME_HOURS
FROM BrazilianOrders;

 * sqlite:///brazilianData.db
Done.

[(10.503209289136962, 0.0, 1450.8663888888889)]

## Reviews

### What is the average review score of the products?

In [23]:
%%sql
SELECT AVG(review_score) AS TOTAL_REVENUE FROM BRAZILIANORDERS;

 * sqlite:///brazilianData.db
Done.

[(4.034409085797819,)]

### What percentage of orders where the customer has left a review with a score of 5?

In [24]:
%%sql
SELECT ROUND((REVIEW_SCORE_5_NUM * 100.0 / COUNT(review_score)), 2) AS REVIEW_SCORE_5_PERCENTAGE
FROM (
    SELECT COUNT(review_score) AS REVIEW_SCORE_5_NUM FROM BRAZILIANORDERS WHERE review_score = 5
) SUBQUERY, BRAZILIANORDERS

 * sqlite:///brazilianData.db
Done.

[(56.55,)]

### What is the percentage of orders with a review score of 1 or 2?

In [25]:
%%sql
SELECT ROUND((REVIEW_SCORE_5_NUM * 100.0 / COUNT(review_score)), 2) AS REVIEW_SCORE_1OR2_PERCENTAGE
FROM (
    SELECT COUNT(review_score) AS REVIEW_SCORE_5_NUM FROM BRAZILIANORDERS WHERE review_score = 1 OR review_score = 2
) SUBQUERY, BRAZILIANORDERS

 * sqlite:///brazilianData.db
Done.

[(16.06,)]

### What percentage of orders where the customer has left a review message?

In [26]:
%%sql
SELECT ROUND((REVIEW_MESSAGE_NUM * 100.0 / COUNT(DISTINCT order_id)), 2) AS REVIEW_MESSAGE_PERCENTAGE
FROM (
    SELECT COUNT(review_comment_message) AS REVIEW_MESSAGE_NUM FROM BRAZILIANORDERS WHERE review_comment_message IS NOT NULL 
) SUBQUERY, BRAZILIANORDERS

 * sqlite:///brazilianData.db
Done.

[(50.67,)]

### Which product category has the highest average review score?

In [27]:
%%sql
SELECT product_category_name_english, MAX(AVG_REVIEW_SCORE) AS HIGHEST_AVG_REVIEW_SCORE
FROM (
    SELECT AVG(review_score) AS AVG_REVIEW_SCORE FROM BRAZILIANORDERS GROUP BY product_category_name_english
) SUBQUERY, BRAZILIANORDERS

 * sqlite:///brazilianData.db
Done.

[('housewares', 4.642857142857143)]

### What is the maximum, minimum, and average number of reviews per review title?

In [28]:
# Run too slow as there are 4477 review titles
# %%sql
# SELECT review_comment_title, MAX(REVIEW_NUM) AS MAX_REVIEW_NUM, MIN(REVIEW_NUM) AS MIN_REVIEW_NUM, AVG(REVIEW_NUM) AS AVG_REVIEW_NUM
# FROM (
#     SELECT COUNT(review_comment_message) AS REVIEW_NUM 
#     FROM BRAZILIANORDERS 
#     WHERE review_comment_message IS NOT NULL 
#     GROUP BY review_comment_title
# ) SUBQUERY, BRAZILIANORDERS

### What is the relationship between review score and shipping time period?

In [29]:
%%sql
SELECT review_score, 
    AVG(julianday(order_delivered_customer_date) - julianday(order_purchase_timestamp)) AS AVG_SHIPPING_DAYS
FROM BrazilianOrders
GROUP BY review_score;

 * sqlite:///brazilianData.db
Done.

[(1, 19.600785892669673),
 (2, 15.760503484284103),
 (3, 14.031146403902087),
 (4, 12.241928098239958),
 (5, 10.667584961278305)]

### What is the average number of days between order delivery and customer review submission?

In [30]:
%%sql
SELECT AVG(julianday(review_answer_timestamp) - julianday(order_delivered_customer_date)) AS AVG_DELIVERY_REVIEW_DAY
FROM BrazilianOrders;

 * sqlite:///brazilianData.db
Done.

[(2.961978944404869,)]

### What is the average time between order and review for each product category?

In [31]:
%%sql
SELECT product_category_name_english,
    AVG(julianday(review_answer_timestamp) - julianday(order_purchase_timestamp)) AS AVG_ORDER_REVIEW_DAYS
FROM BrazilianOrders
GROUP BY product_category_name_english
ORDER BY AVG_ORDER_REVIEW_DAYS DESC
LIMIT 20;

 * sqlite:///brazilianData.db
Done.

[('office_furniture', 24.11580141160865),
 ('home_comfort_2', 23.87078910379205),
 ('fashion_sport', 23.646099910365358),
 ('fashion_shoes', 18.41353704552968),
 ('furniture_bedroom', 18.395979295266674),
 ('fashio_female_clothing', 17.95432986114174),
 ('christmas_supplies', 17.88392009196262),
 ('garden_tools', 17.26971680337617),
 ('market_place', 17.244602693618756),
 ('consoles_games', 17.06613661331298),
 ('security_and_services', 16.910931712947786),
 ('furniture_living_room', 16.795774398683804),
 ('computers', 16.735540354596495),
 ('fashion_male_clothing', 16.674975163975937),
 ('home_appliances_2', 16.67142248823683),
 ('fashion_underwear_beach', 16.516217382178624),
 ('fixed_telephony', 16.498428378416897),
 ('computers_accessories', 16.46272446277892),
 ('furniture_mattress_and_upholstery', 16.306778737593714),
 ('home_confort', 16.289037552515452)]

## Products

### What is the total number of items sold?

In [32]:
%%sql
SELECT SUM(ORDER_ITEMS) AS NUM_ITEMS
FROM(
    SELECT MAX(order_item_id) AS ORDER_ITEMS FROM BRAZILIANORDERS GROUP BY order_id
) SUBQUERY

 * sqlite:///brazilianData.db
Done.

[(110130,)]

### What is the most popular product category?

In [33]:
%%sql
SELECT product_category_name_english, COUNT(*) AS ORDER_NUMS
FROM BRAZILIANORDERS
GROUP BY product_category_name_english
ORDER BY ORDER_NUMS DESC
LIMIT 1;

 * sqlite:///brazilianData.db
Done.

[('bed_bath_table', 11847)]

### What is the average product weight?

In [34]:
%%sql
SELECT AVG(DISTINCT product_weight_g) AS AVG_PRODUCT_WEIGHT FROM BRAZILIANORDERS;

 * sqlite:///brazilianData.db
Done.

[(5713.516158397815,)]

### Which product has the highest shipping cost per unit weight?

In [35]:
%%sql
SELECT product_id, (freight_value / product_weight_g) AS UNIT_SHIPPING_COST
FROM BRAZILIANORDERS
ORDER BY UNIT_SHIPPING_COST DESC
LIMIT 1;

 * sqlite:///brazilianData.db
Done.

[('8aae4df46baf1278422b69edbb50bd35', 19.8)]

### What is the volumn of each product?

In [36]:
%%sql
SELECT product_id, product_length_cm * product_height_cm * product_width_cm AS VOLUMN FROM BRAZILIANORDERS LIMIT 10;

 * sqlite:///brazilianData.db
Done.

[('87285b34884572647811a353c7ac498a', 1976.0),
 ('87285b34884572647811a353c7ac498a', 1976.0),
 ('87285b34884572647811a353c7ac498a', 1976.0),
 ('87285b34884572647811a353c7ac498a', 1976.0),
 ('87285b34884572647811a353c7ac498a', 1976.0),
 ('87285b34884572647811a353c7ac498a', 1976.0),
 ('be03d93320192443b8fa24c0ca6ead98', 3328.0),
 ('8415b1dae10d2dcb36beec370c6a90cd', 2160.0),
 ('5e18248fc768bdb7fc69fd012068d109', 1920.0),
 ('883cea107372a7f07b5830904f74952d', 55728.0)]

### What is the average shipping time for products?

In [37]:
%%sql
SELECT AVG(julianday(order_delivered_customer_date) - julianday(order_approved_at)) AS AVG_SHIIPING_DAY FROM BRAZILIANORDERS;

 * sqlite:///brazilianData.db
Done.

[(12.007277911007648,)]

### What is the total number of products sold and the average order valuein each category?

In [38]:
%%sql
SELECT product_category_name_english, COUNT(*) AS SOLD_PRODUCT_NUM, AVG(payment_value) AS AVG_ORDER_VALUE
FROM BRAZILIANORDERS
GROUP BY product_category_name_english
LIMIT 20;

 * sqlite:///brazilianData.db
Done.

[('agro_industry_and_commerce', 252, 471.15321428571434),
 ('air_conditioning', 297, 302.9324242424241),
 ('art', 217, 141.8957603686636),
 ('arts_and_craftmanship', 24, 96.92375),
 ('audio', 377, 159.08090185676403),
 ('auto', 4356, 184.17234618916484),
 ('baby', 3178, 168.76956891126426),
 ('bed_bath_table', 11847, 145.64578965138793),
 ('books_general_interest', 561, 114.70301247771842),
 ('books_imported', 62, 108.095),
 ('books_technical', 269, 92.31795539033453),
 ('cds_dvds_musicals', 14, 85.67357142857144),
 ('christmas_supplies', 148, 90.40966216216218),
 ('cine_photo', 74, 129.10283783783788),
 ('computers', 217, 1244.4535023041476),
 ('computers_accessories', 8105, 196.49742874768717),
 ('consoles_games', 1180, 164.04261864406797),
 ('construction_tools_construction', 950, 254.07002105263157),
 ('construction_tools_lights', 305, 228.06049180327844),
 ('construction_tools_safety', 198, 331.54949494949483)]

### What is the minimum and maximum price of products in each category?

In [39]:
%%sql
SELECT product_category_name_english, MIN(price) AS MIN_PRICE, MAX(price) AS MAX_PRICE
FROM BRAZILIANORDERS
GROUP BY product_category_name_english
LIMIT 20;

 * sqlite:///brazilianData.db
Done.

[('agro_industry_and_commerce', 12.99, 2990.0),
 ('air_conditioning', 10.9, 1599.0),
 ('art', 3.5, 6499.0),
 ('arts_and_craftmanship', 9.8, 289.49),
 ('audio', 14.9, 598.99),
 ('auto', 3.49, 2258.0),
 ('baby', 3.54, 3899.0),
 ('bed_bath_table', 6.99, 1999.98),
 ('books_general_interest', 6.0, 899.9),
 ('books_imported', 18.99, 749.0),
 ('books_technical', 9.95, 384.93),
 ('cds_dvds_musicals', 45.0, 65.0),
 ('christmas_supplies', 5.5, 295.0),
 ('cine_photo', 6.8, 873.99),
 ('computers', 34.5, 4590.0),
 ('computers_accessories', 3.9, 3699.99),
 ('consoles_games', 5.18, 4099.99),
 ('construction_tools_construction', 0.85, 2300.0),
 ('construction_tools_lights', 12.51, 1290.0),
 ('construction_tools_safety', 8.9, 3099.9)]

### What is the average freight-to-price percentage in each category?

In [40]:
%%sql
SELECT product_category_name_english, AVG(freight_value/price) AS AVG_FREIGHT_PRICE_PERCENTAGE
FROM BRAZILIANORDERS
GROUP BY product_category_name_english
ORDER BY AVG_FREIGHT_PRICE_PERCENTAGE
LIMIT 20;

 * sqlite:///brazilianData.db
Done.

[('computers', 0.05538043577933473),
 ('security_and_services', 0.14754843417535052),
 ('small_appliances_home_oven_and_coffee', 0.16247415501201998),
 ('watches_gifts', 0.17269630123479252),
 ('home_appliances_2', 0.19661885510904914),
 ('fashion_childrens_clothes', 0.19875481281771662),
 ('la_cuisine', 0.2021346284854282),
 ('home_confort', 0.206236625174299),
 ('air_conditioning', 0.21065083320325464),
 ('cool_stuff', 0.22252246239166884),
 ('construction_tools_safety', 0.23554346639633433),
 ('tablets_printing_image', 0.23849060946132505),
 ('books_imported', 0.24044797352665834),
 ('musical_instruments', 0.25040498672176237),
 ('construction_tools_lights', 0.25277786325154145),
 ('small_appliances', 0.25347072393190373),
 ('luggage_accessories', 0.26059052530061866),
 ('home_construction', 0.2619262735558291),
 ('fashion_male_clothing', 0.26695847459882255),
 ('toys', 0.2676309577779915)]

### What is the relationship between the order number and the product description, name length and photo num?

In [41]:
%%sql
SELECT COUNT(DISTINCT order_id) AS ORDER_NUM, AVG(product_description_lenght) AS AVG_DESCRIPTION_L,
    AVG(product_name_lenght) AS AVG_NAME_L, AVG(product_photos_qty) AS AVG_PHOTO_NUM
FROM BRAZILIANORDERS
GROUP BY product_id 
ORDER BY ORDER_NUM DESC
LIMIT 30;

 * sqlite:///brazilianData.db
Done.

[(458, 245.0, 54.0, 1.0),
 (429, 903.0, 44.0, 6.0),
 (351, 348.0, 56.0, 2.0),
 (320, 1893.0, 59.0, 1.0),
 (310, 341.0, 59.0, 2.0),
 (303, 523.0, 33.0, 3.0),
 (289, 366.0, 57.0, 2.0),
 (285, 340.0, 58.0, 2.0),
 (268, 575.0, 48.0, 1.0),
 (259, 492.0, 59.0, 3.0),
 (253, 894.0, 48.0, 1.0),
 (221, 492.0, 59.0, 2.0),
 (192, 514.0, 35.0, 2.0),
 (187, 2644.0, 60.0, 6.0),
 (171, 3006.0, 58.0, 2.0),
 (156, 799.0, 41.0, 1.0),
 (156, 176.0, 56.0, 1.0),
 (154, 319.0, 59.0, 4.0),
 (153, 256.0, 33.0, 1.0),
 (153, 1257.0, 50.0, 1.0),
 (150, 625.0, 51.0, 1.0),
 (147, 162.0, 56.0, 5.0),
 (143, 1893.0, 58.0, 1.0),
 (142, 1257.0, 50.0, 1.0),
 (141, 236.0, 42.0, 1.0),
 (141, 591.0, 35.0, 3.0),
 (139, 409.0, 40.0, 1.0),
 (138, 93.0, 59.0, 7.0),
 (138, 100.0, 49.0, 4.0),
 (134, 1536.0, 54.0, 2.0)]

### What is the average order time from purchase to review for each specific product?

In [42]:
%%sql
SELECT product_id, AVG(julianday(review_answer_timestamp) - julianday(order_purchase_timestamp)) AS AVG_DELIVERY_TIME
FROM BRAZILIANORDERS
GROUP BY product_id
ORDER BY AVG_DELIVERY_TIME DESC
LIMIT 10;

 * sqlite:///brazilianData.db
Done.

[('614d9b959168fce3e0cbd0645acbb666', 522.9690393516794),
 ('b250756c5f34998033b1811801686a0c', 390.9877025464084),
 ('759f2746cbd8fc01367864eccec63d46', 319.4949305555783),
 ('1b37b3107916db24fcb0ea0f9c024bd3', 319.216724537313),
 ('ac6c24af9f913c9375a3ea77883bda6e', 305.35031250026077),
 ('bdce983de5f3fe3c23363b676b19dcbf', 303.9984027775936),
 ('96d04f44d303175353cc3032d89eefb1', 283.06674768496305),
 ('7bdf179ad010100a0ee238b988147fd1', 282.08194444468245),
 ('24ad6518fbcba9b028f168019c6c2d67', 256.09973379643634),
 ('9cf421049bcfaf6983bf0dfb40831a03', 246.24973379587755)]

### Which product categories have the highest price/order number ratio?

In [43]:
%%sql
SELECT product_category_name_english, (COUNT(DISTINCT order_id) * 100.0 / SUM(price)) AS PRICE_ORDERNUM_RATIO
FROM BRAZILIANORDERS
GROUP BY product_category_name_english
ORDER BY PRICE_ORDERNUM_RATIO DESC
LIMIT 20;

 * sqlite:///brazilianData.db
Done.

[('home_comfort_2', 3.1315097961795604),
 ('flowers', 2.7993281612413017),
 ('diapers_and_hygiene', 1.7223891451208544),
 ('cds_dvds_musicals', 1.643835616438356),
 ('electronics', 1.5535657310530393),
 ('christmas_supplies', 1.5524659566393808),
 ('food', 1.5002643162300895),
 ('fashion_childrens_clothes', 1.4038782135649732),
 ('food_drink', 1.3755727495386374),
 ('fashio_female_clothing', 1.3497425106595047),
 ('books_technical', 1.3375009237603652),
 ('drinks', 1.295868717991825),
 ('arts_and_craftmanship', 1.2679092177000122),
 ('fashion_sport', 1.2590347400326414),
 ('telephony', 1.2411084539704413),
 ('fashion_underwear_beach', 1.1672754332294142),
 ('fashion_bags_accessories', 1.1428028293431212),
 ('tablets_printing_image', 1.1289776301146728),
 ('books_imported', 1.0923668291476456),
 ('books_general_interest', 1.0600846815676692)]

## Customers

### Which customers have the most number of orders?

In [44]:
%%sql
SELECT customer_unique_id, COUNT(DISTINCT order_id) AS ORDER_NUM
FROM BRAZILIANORDERS
GROUP BY customer_unique_id
ORDER BY ORDER_NUM DESC
LIMIT 1;

 * sqlite:///brazilianData.db
Done.

[('8d50f5eadf50201ccdcedfb9e2ac8455', 15)]

### What are the top 10 customer cities that made the most sales volumn?

In [45]:
%%sql
SELECT customer_city, SUM(payment_value) AS TOTAL_SALES
FROM BRAZILIANORDERS
GROUP BY customer_city
ORDER BY TOTAL_SALES DESC
LIMIT 10;

 * sqlite:///brazilianData.db
Done.

[('sao paulo', 2807526.0300000184),
 ('rio de janeiro', 1536347.9300000041),
 ('belo horizonte', 492767.96000000066),
 ('brasilia', 428036.2999999998),
 ('curitiba', 327886.87999999954),
 ('porto alegre', 311302.47000000067),
 ('salvador', 281542.2699999999),
 ('campinas', 262096.31999999913),
 ('guarulhos', 199503.8200000001),
 ('niteroi', 174032.29999999993)]

### Which customer state has the highest order frequency?

In [46]:
%%sql
SELECT customer_state, COUNT(order_id) AS ORDER_NUM
FROM BRAZILIANORDERS
GROUP BY customer_state
ORDER BY ORDER_NUM DESC
LIMIT 1;

 * sqlite:///brazilianData.db
Done.

[('SP', 48797)]

### Which customer state has the highest revenue generation?

In [47]:
%%sql
SELECT customer_state, SUM(payment_value) AS TOTAL_SALES
FROM BRAZILIANORDERS
GROUP BY customer_state
ORDER BY TOTAL_SALES DESC
LIMIT 1;

 * sqlite:///brazilianData.db
Done.

[('SP', 7502926.949999758)]

### How many customers made a second purchase within one day after the first purchase?

In [48]:
%%sql
SELECT COUNT(*) AS NUMBER
FROM(
    SELECT o1.customer_unique_id, o1.order_purchase_timestamp as FIRST_ORDER_TIME, o2.order_purchase_timestamp as SECOND_ORDER_TIME
    FROM BRAZILIANORDERS o1
    JOIN BRAZILIANORDERS o2
    ON o1.customer_unique_id = o2.customer_unique_id
    WHERE o2.order_purchase_timestamp BETWEEN o1.order_purchase_timestamp AND DATE(o1.order_purchase_timestamp, '+1 days')
    AND o2.order_purchase_timestamp <> o1.order_purchase_timestamp
    AND o2.order_id != o1.order_id
    GROUP BY o1.customer_unique_id
    HAVING COUNT(*) > 1
    ORDER BY o1.customer_unique_id
) SUBQUERY

 * sqlite:///brazilianData.db
Done.

[(334,)]

### Which customer has made the most expensive purchase?

In [49]:
%%sql
SELECT customer_unique_id, MAX(payment_value) FROM BRAZILIANORDERS;

 * sqlite:///brazilianData.db
Done.

[('0a0a92112bd4c708ca5fde585afaa872', 13664.08)]

## Sellers

### Which seller has the most number of products listed?

In [50]:
%%sql
SELECT seller_id, COUNT(*) AS SOLD_NUM
FROM BRAZILIANORDERS
GROUP BY seller_id
ORDER BY SOLD_NUM DESC
LIMIT 1;

 * sqlite:///brazilianData.db
Done.

[('4a3ca9315b744ce9f8e9374361493884', 2128)]

### Where are the top 10 seller cities?

In [51]:
%%sql
SELECT seller_city, COUNT(DISTINCT order_id) AS ORDER_NUM, SUM(payment_value) AS TOTAL_SALE
FROM BRAZILIANORDERS
GROUP BY seller_city
ORDER BY ORDER_NUM DESC
LIMIT 10;

 * sqlite:///brazilianData.db
Done.

[('sao paulo', 24215, 4154006.769999939),
 ('ibitinga', 6473, 1060183.6900000009),
 ('santo andre', 2696, 350176.1799999983),
 ('curitiba', 2678, 646929.9299999998),
 ('belo horizonte', 2324, 289727.4200000001),
 ('rio de janeiro', 2117, 478609.310000002),
 ('ribeirao preto', 1985, 386479.18000000005),
 ('sao jose do rio preto', 1957, 413318.0700000041),
 ('maringa', 1848, 386153.9600000004),
 ('guarulhos', 1694, 447877.5800000007)]

### Where is the top customer state for each seller state?

In [52]:
%%sql
SELECT seller_state, customer_state, COUNT(DISTINCT order_id) AS ORDER_NUM
FROM BRAZILIANORDERS
GROUP BY seller_state, customer_state
ORDER BY ORDER_NUM DESC
LIMIT 10;

 * sqlite:///brazilianData.db
Done.

[('SP', 'SP', 30836),
 ('SP', 'RJ', 8235),
 ('SP', 'MG', 7421),
 ('SP', 'RS', 3599),
 ('SP', 'PR', 3109),
 ('PR', 'SP', 2980),
 ('MG', 'SP', 2553),
 ('SP', 'BA', 2328),
 ('SP', 'SC', 2303),
 ('MG', 'MG', 1528)]

### How many sellers has the highest customer review score (5.0)?

In [53]:
%%sql
SELECT COUNT(*)
FROM(
    SELECT seller_id, AVG(review_score) AS AVG_REVIEW_SCORE
    FROM BRAZILIANORDERS
    GROUP BY seller_id
    HAVING AVG_REVIEW_SCORE = 5.0
) SUBQUERY

 * sqlite:///brazilianData.db
Done.

[(507,)]

### Which are the top 10 sellers that shipped products to the most number of different cities?

In [54]:
%%sql
SELECT seller_id, COUNT(DISTINCT customer_city) AS CITY_NUM
FROM BRAZILIANORDERS
GROUP BY seller_id
ORDER BY CITY_NUM DESC
LIMIT 10;

 * sqlite:///brazilianData.db
Done.

[('4a3ca9315b744ce9f8e9374361493884', 627),
 ('cc419e0650a3c5ba77189a1882b7556a', 626),
 ('6560211a19b47992c3666cc44a7e94c0', 592),
 ('7a67c85e85bb2ce8582c35f2203ad736', 569),
 ('ea8482cd71df3c1969d7b9473ff13abc', 506),
 ('1f50f920176fa81dab994f9023523100', 502),
 ('955fee9216a65b617aa5c0531780ce60', 444),
 ('3d871de0142ce09b7081e2b9d1733cb1', 431),
 ('1025f0e2d44d7041d6cf58b6550e0bfa', 408),
 ('4869f7a5dfa277a7dca6462dcf3b52b2', 399)]

### What is the average product price and average freight value of each seller?

In [55]:
%%sql
SELECT seller_id, AVG(price) AS AVG_PRICE, AVG(freight_value) AS AVG_FREIGHT
FROM BRAZILIANORDERS
GROUP BY seller_id, product_id
ORDER BY AVG_PRICE DESC
LIMIT 20;

 * sqlite:///brazilianData.db
Done.

[('e3b4998c7a498169dc7bce44e6bb6277', 6735.0, 194.31),
 ('ee27a8f15b1dded4d213a468ba4eb391', 6499.0, 227.66),
 ('59417c56835dd8e2e72f91f809cd4092', 4799.0, 151.34),
 ('59417c56835dd8e2e72f91f809cd4092', 4690.0, 74.34),
 ('c72de06d72748d1a0dfb2125be43ba63', 4590.0, 91.78),
 ('512d298ac2a96d1931b6bd30aa21f61d', 4399.87, 113.45),
 ('ed4acab38528488b65a9a9c603ff024a', 4099.99, 75.27),
 ('fa1c13f2614d7b5c4749cbc52fecda94', 3999.9, 17.01),
 ('59417c56835dd8e2e72f91f809cd4092', 3999.0, 195.76),
 ('039e6ad9dae79614493083e241147386', 3930.0, 49.55),
 ('c510bc1718f0f2961eaa42a23330681a', 3899.0, 135.44),
 ('821fb029fc6e495ca4f08a35d51e53a5', 3874.5, 120.655),
 ('2bf6a2c1e71bbd29a4ad64e6d3c3629f', 3700.0, 92.59),
 ('403aa86912527d730337ffcb0fb096ab', 3699.99, 36.23),
 ('585175ec331ea177fa47199e39a6170a', 3549.0, 53.47),
 ('a00824eb9093d40e589b940ec45c4eb0', 3133.3233333333333, 126.49666666666667),
 ('bede56095ba33c42038fb85f707b8a42', 3124.0, 173.4),
 ('f9244d45189d3a3605499abddeade7d5', 3109.99, 74.35),
 ('039e6ad9dae79614493083e241147386', 3105.0, 104.72),
 ('4a3ccda38b2129705f3fb522db62ca31', 3099.9, 55.92)]

## Payment

### What is the most used payment type?

In [56]:
%%sql
SELECT payment_type, COUNT(DISTINCT order_id) AS ORDER_NUUM
FROM BRAZILIANORDERS
GROUP BY payment_type
ORDER BY ORDER_NUUM DESC
LIMIT 1;

 * sqlite:///brazilianData.db
Done.

[('credit_card', 74328)]

### What is the average payment value for each payment installment?

In [57]:
%%sql
SELECT payment_installments, AVG(payment_value) AS AVG_PAYMENT_VALUE
FROM BRAZILIANORDERS
GROUP BY payment_installments
ORDER BY AVG_PAYMENT_VALUE DESC;

 * sqlite:///brazilianData.db
Done.

[(24, 801.7379411764704),
 (20, 537.3609999999999),
 (18, 493.3452631578949),
 (10, 430.2689152542378),
 (16, 395.08142857142855),
 (15, 391.78626373626383),
 (12, 314.82859756097554),
 (8, 309.527668063037),
 (21, 258.86499999999995),
 (23, 236.48),
 (6, 234.96410690717173),
 (22, 228.71),
 (9, 201.49232394366203),
 (5, 197.72118758434513),
 (7, 193.93626048071593),
 (17, 174.52285714285716),
 (4, 173.75893443666465),
 (14, 166.52125000000004),
 (3, 154.3177309323879),
 (13, 147.72421052631574),
 (2, 134.57077663384223),
 (1, 132.26724821610915),
 (11, 125.66136363636366),
 (0, 106.19)]

### How many orders use multiple payment sequencials?

In [58]:
%%sql
SELECT COUNT(DISTINCT order_id) AS ORDER_NUM
FROM BRAZILIANORDERS
WHERE payment_sequential > 1;

 * sqlite:///brazilianData.db
Done.

[(2937,)]